@model ProjectViewModel

<div class="project card">
    <div class="card-header">
        <div class="project-image">
            <img src="@Model.ProjectImage" alt="template project">
        </div>
        <h6 class="project-name">@Model.ProjectName</h6>
        <span class="client-name">@Model.ClientName</span>

        <div id="project-actions-container">
            <button type="button" data-type="dropdown" class="btn-action">
                <i class="fa-solid fa-ellipsis"></i>
            </button>

            <div class="dropdown">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <button data-type="modal" data-target="#edit-project-modal" class="dropdown-action">
                            <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </button>
                    </nav>
                    <nav class="dropdown-actions">
                        <button class="dropdown-action" href="#">
                            <i class="fa-duotone fa-solid fa-user-plus" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                            <span>Add Member</span>
                        </button>
                    </nav>
                    <div class="divider"></div>
                    <nav class="dropdown-actions">
                        <a class="dropdown-action remove" href="#">
                            <i class="fa-duotone fa-solid fa-trash"></i>
                            <span>Delete Project</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <p>@Html.Raw(Model.Description)</p>
    </div>
    <div class="card-footer">
        <div class="badge badge-normal">
            <i class="fa-duotone fa-solid fa-clock"></i>
            <span>@Model.TimeLeft</span>
        </div>
        <div class="members">
            
            @foreach(var member in Model.Members)
            {
                <div class="user">
                    <span>@member</span>
                </div>
            }
        </div>
    </div>
</div>